$grey: #24282f;
$gold: #b5a263;
$snow: #fff;
$sans: 'Open Sans', sans-serif;
$nexa: 'Nexa', sans-serif;
$rale: 'Raleway', sans-serif;
$bgsnow: #f7f7f7;
$blackal: #6e7279;
$footbg: #2b2f35;
$eb: #ebebeb;
$megrim: 'Megrim', cursive;

@import "_fontello";
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Open+Sans:wght@400;600;700;800&family=Raleway:wght@300;400;600;700;800&display=swap');